    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="msapplication-TileColor" content="#004D9B">
    <meta name="theme-color" content="#004D9B">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Disable tracking by Twitter widgets, see https://dev.twitter.com/web/overview/privacy -->
    <meta name="twitter:dnt" content="on">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    {% if page.categories %}
    <meta name="keywords" content="{{ page.categories | join: ',' }}" />
    {% else %}
    <meta name="keywords" content="{{ site.keywords | join: ',' }}" />
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{page.description}}" />
    {% endif %}

    {% if page.date %}
    <meta http-equiv="date" content="{{page.date | date: '%A, %d  %Y %H:%M:%S GMT' }}" />
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/font-awesome.min.css">

    {% if site.ribbon.show %}
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ site.baseurl }}public/css/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    {% endif %}
    
    <!-- at last to overwrite paramters -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/agile.css">

    <!-- RSS -->
    <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">-->
