<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/" title="conference website"><img alt="Reproducible AGILE logo" class="center" src="{{site.baseurl}}/public/images/reproducible-AGILE-logo-square.svg" width="256px" /></a>
      {% comment %} <p class="lead">{{ site.tagline }}</p> {% endcomment %}
      <p class="lead_small">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% unless page.url contains '/20' or page.url contains 'initiative' %} active{% endunless %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url contains 'publications' %} active{% endif %}" href="/publications">Publications</a>
      <a class="sidebar-nav-item{% if page.url contains 'initiative' %} active{% endif %}" href="{{ site.baseurl }}/initiative">AGILE Initiative</a>
      <a class="sidebar-nav-item{% if page.url contains '2025' %} active{% endif %}" href="{{ site.baseurl }}/2025">2025</a>
      <a class="sidebar-nav-item{% if page.url contains '2024' %} active{% endif %}" href="{{ site.baseurl }}/2024">2024</a>
      <a class="sidebar-nav-item{% if page.url contains '2023' %} active{% endif %}" href="{{ site.baseurl }}/2023">2023</a>
      <a class="sidebar-nav-item{% if page.url contains '2022' %} active{% endif %}" href="{{ site.baseurl }}/2022">2022</a>
      <a class="sidebar-nav-item{% if page.url contains '2021' %} active{% endif %}" href="{{ site.baseurl }}/2021">2021</a>
      <a class="sidebar-nav-item{% if page.url contains '2020' %} active{% endif %}" href="{{ site.baseurl }}/2020">2020</a>
      <a class="sidebar-nav-item{% if page.url contains '2019' %} active{% endif %}" href="{{ site.baseurl }}/2019">2019</a>
      <a class="sidebar-nav-item{% if page.url contains '2018' %} active{% endif %}" href="{{ site.baseurl }}/2018">2018</a>
      <a class="sidebar-nav-item{% if page.url contains '2017' %} active{% endif %}" href="{{ site.baseurl }}/2017">2017</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}"><i class="fa fa-github" style="margin-right: 0.3em;" aria-hidden="true"></i>GitHub</a>
    </nav>

    <p class="small">&copy; {{ site.time | date: '%Y' }} {{ site.author.name}}.<br />
    Theme based on <a href="https://github.com/poole/hyde">Hyde</a>.</p>
  </div>
</div>
