<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!--<a href="{{ site.baseurl }}"></a>-->
      <p class="lead">{{ site.tagline }}</p>
      <p class="lead_small">{{ site.description }}</p>
      <a href="https://agile-online.org/index.php/conference/" title="conference website"><img alt="AGILE logo" class="center" src="{{site.baseurl}}public/images/AGILE-logo.png" style="margin-bottom: 1em;" /></a>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% unless page.url contains '/20' or page.url contains 'initiative' %} active{% endunless %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url contains 'initiative' %} active{% endif %}" href="{{ site.baseurl }}initiative">AGILE Initiative</a>
      <a class="sidebar-nav-item{% if page.url contains '2019' %} active{% endif %}" href="{{ site.baseurl }}2019">2019</a>
      <a class="sidebar-nav-item{% if page.url contains '2018' %} active{% endif %}" href="{{ site.baseurl }}2018">2018</a>
      <a class="sidebar-nav-item{% if page.url contains '2017' %} active{% endif %}" href="{{ site.baseurl }}2017">2017</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}"><i class="fa fa-github" style="margin-right: 0.3em;" aria-hidden="true"></i>GitHub</a>
    </nav>

    <p class="small">&copy; {{ site.time | date: '%Y' }} {{ site.author.name}}.<br />
    Theme based on <a href="https://github.com/poole/hyde">Hyde</a>.</p>
  </div>
</div>
